<mat-card
  *ngIf="show"(click)="openDialog()"
  [ngClass]="record.type"
  [ngStyle]="recordStyle"
  fxLayout='row'
  fxLayoutAlign='space-between center'
>
  <div class='text' fxLayout='column' fxLayoutAlign='end start'>
    <div class='descriptor' fxFlex='1 0 auto'>{{ record.descriptor }}</div>
    <div
      class='child'
      [ngStyle]="{'background-color': childColor,'width.ch': maxChildWidthCH}"
    >
      {{ record.child }}
    </div>
  </div>
  <div fxLayout='column' fxLayoutAlign='center center' class="circle">
    <div class="value" *ngIf="record.type === 'Activity'">
      {{ time(record.value) }}
    </div>
    <div class="hour" *ngIf="record.type === 'Activity'">
      {{ record.value !== 1 ? 'hrs' : 'hr'}}
    </div>
    <div class="value" *ngIf="record.type === 'Metric'">
      {{ +record.value.toFixed(2) }}
    </div>
    <span *ngIf="record.type === 'Metric'">
      <mat-icon class='star'>star</mat-icon>
    </span>
  </div>
</mat-card>
