mat-card {
  background-color: lightgray;
  border-radius: 5%;
  padding: 5px;
}

mat-card:hover {
  filter: brightness(105%);
  cursor: pointer;
}

mat-card-header {
  justify-content: center;
}

.descriptor {
  font-size: 1.5em;
  font-weight: bold;
}

.type {
  font-style: italic;
}
