<mat-card (click)="openDialog()">
  <mat-card-header>
    <mat-card-title>
      <div class='descriptor'>{{ record.descriptor }}</div>
      <div class='type'>{{ record.type }}</div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout='column' fxLayoutAlign='center center'>
      <div fxLayoutAlign='center center' class='value'>
        <span>{{ record.value }}</span>
        <span>&nbsp;</span>
        <span *ngIf="record.type === 'Activity'" class='hour'>
          {{ record.value !== 1 ? 'hrs' : 'hr'}}
        </span>
        <span *ngIf="record.type === 'Metric'">
          <mat-icon class='star'>star</mat-icon>
        </span>
      </div>
    <div class='children'>{{ record.child }}</div>
  </mat-card-content>
</mat-card>