mat-card {
  background-color: #d4abe8;
  border-radius: 5%;
  padding: 5px;
  color: #041144;
}

mat-card:hover {
  filter: brightness(105%);
  cursor: pointer;
}

mat-card-header {
  justify-content: center;
}

mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
}
