<mat-card
  *ngIf="show"(click)="openDialog()"
  [ngClass]="record.child"
  [ngStyle]="{ 'background-color': recordColor}"
  fxLayout='row'
  fxLayoutAlign='space-between center'
>
  <div class='text' fxLayout='column'>
    <div class='descriptor' fxFlex='1 0 auto'>{{ record.descriptor }}</div>
    <div
      class='child'
      [ngStyle]="{'background-color': childColor,'width.ch': maxChildWidthCH}"
    >
      {{ record.child }}
    </div>
  </div>
  <div fxLayoutAlign='center center' div class="value">
    <span>{{ record.value }}</span>
    <span>&nbsp;</span>
    <span *ngIf="record.type === 'Activity'" class='hour'>
      {{ record.value !== 1 ? 'hrs' : 'hr'}}
    </span>
    <span *ngIf="record.type === 'Metric'">
      <mat-icon class='star'>star</mat-icon>
    </span>
  </div>
</mat-card>
