.day {
  height: 100%;
  text-align: center;
  margin: 0 5px;
}

.today {
  background-color: hsl(60, 95%, 80%);
}

.day-header {
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}