.day {
  height: 100%;
  text-align: center;
}

.day-header {
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  background: white;
  width: calc(100% - 4px);
  border-bottom: 1px solid lightgray;
}

.activity {
  margin: 5px 0 5px 0;
  width: calc(100% - 10px);
}

.new-activity {
  width: 60px;
  height: 60px;
  font-size: 52px;
  color: green;
}

.new-activity:hover {
  cursor: pointer;
  filter: brightness(125%);
}
