<div class='selectRecordContainer'>
  <h3>Child</h3>
    <div class="checkGroup">
      <input type="checkbox" id="allChildren" checked><label for="allChildren">All Children</label><br>
      <input type="checkbox" id="brian"><label for="brian">Brian</label><br>
      <input type="checkbox" id="emily"><label for="emily">Emily</label><br>
    </div>
  <h3>Activity</h3>
    <div class="checkGroup">
      <input type="checkbox" id="allActivities" checked><label for="allActivities">All Activities</label><br>
      <input type="checkbox" id="exercise"><label for="exercise">Exercise</label><br>
      <input type="checkbox" id="arts"><label for="arts">Arts</label><br>
      <input type="checkbox" id="academics"><label for="academics">Academics</label><br>
      <input type="checkbox" id="sleep"><label for="sleep">Sleep</label><br>
    </div>
  <h3>Evaluation</h3>
    <div class="checkGroup">
      <input type="checkbox" id="allEvaluations" checked><label for="allEvaluations">All Evaluations</label><br>
      <input type="checkbox" id="mood"><label for="mood">Mood</label><br>
      <input type="checkbox" id="energy"><label for="energy">Energy</label><br>
      <input type="checkbox" id="academic_performance"><label for="academic_performance">Academic Performance</label><br>
    </div>
</div>
