.selectRecordContainer {
  margin: 3px;
  border: 2px solid #041144;
  width: 12vw;
  padding: 6px;
  color: #041144;
  background-color: #d4abe8;
}

.selectRecordContainer h3 {
  margin-top: 3px;
  margin-bottom: 8px;
  margin-left: 3px;
}

.checkGroup {
  margin-bottom: 12px;
}

.selectRecordContainer input {
  margin-left: 6px;
}

