header {
  background: white;
  padding: 0 25px 0 25px;
  border-bottom: 1px solid gray;
}

h1 {
  margin: 0;
  font-size: 4rem;
  padding-bottom: 10px;
  color: #3c0566;
}

nav {
  padding-top: 25px;
  border-bottom: none;
}

a {
  background-color: #d4abe8;
  padding: 0 50px 0 50px;
  margin: 0 10px 0 10px;
  color: #041144;
}

.mat-tab-label-active, .mat-tab-label-focus {
  background-color: #440444;
  color: #0ba867;
}
