#selectors {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: lightgray;
}

.selector {
  margin: 0 20px 0 20px;
  margin-top: 0.5em;
  margin-bottom: -0.5em;
}

.selector:first-child {
  margin-left: 40px;
}

.selector:last-child {
  margin-right: 40px;
}
