#dialog {
  width: 420px;
}

#title {
  text-align: center;
}

mat-radio-group {
  display: flex;
  justify-content: space-evenly;
}

mat-form-field, .mat-form-field {
  width: 100%;
}

neutron-rating {
  position: absolute;
  left: 55px;
  top: -10px;
  z-index: 99;
}

#fakeInput {
  opacity: 0;
}

/* the placeholder for fakeInput is forced to be shown in global styles */
/* stars are given dark borders in global styles */
