<div mat-dialog-title id='title'>
  <mat-radio-group [(ngModel)]="recordType">
    <mat-radio-button value="activity">Activity</mat-radio-button>
    <mat-radio-button value="metric">Metric</mat-radio-button>
  </mat-radio-group>
</div>

<mat-dialog-content *ngIf="recordType" [formGroup]="form">
  <mat-form-field>
    <mat-select
      *ngIf="recordType === 'activity'"
      placeholder="Category"
      formControlName="descriptor"
    >
      <mat-option
        *ngFor="let category of activityCategories"
        [value]="category"
      >
        {{ category }}
      </mat-option>
    </mat-select>
    <mat-select
      *ngIf="recordType === 'metric'"
      placeholder="Evaluation"
      formControlName="descriptor"
    >
      <mat-option
        *ngFor="let metric of metricNames"
        [value]="metric"
      >
        {{ metric }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="{{recordType === 'activity' ? 'Duration' : 'Rating'}}"
      formControlName="value"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Child"
      formControlName="child"
    >
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>