<div fxLayoutAlign='space-between' id='filters'>
  <mat-form-field fxFlex='1 1 auto' class='filter'>
    <mat-select
      multiple
      placeholder="Filter by Child"
      [(ngModel)]="selectedChildren"
      (change)="updateFilter()"
    >
      <mat-option *ngFor="let child of children" [value]="child">
        {{ child }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex='1 1 auto' class='filter'>
    <mat-select
      multiple
      placeholder="Filter by Record Type"
      [(ngModel)]="selectedRecords"
      (change)="updateFilter()"
    >
      <mat-option *ngFor="let record of records" [value]="record">
        {{ record }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
