.main text {
    font: 10px sans-serif;	
}

.modebar, .modebar hover {
    display: none;
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}

#myDiv.hide {
  visibility: hidden;
}

.message {
  text-align: center;
}
