<div fxLayout='column' fxFlexFill>
  <app-filters fxFlex='0 0 auto'></app-filters>
  <div fxFlex='1 1 100%'>
    <div fxLayout='row' id='calendar' fxFlexFill>
      <div class='time-travel'>
        <button (click)='travelBackward()'>
          &larr;
        </button>
      </div>
      <app-day
        *ngFor='let day of daysToShow'
        fxFlex='1 1 0'
        class='day'
        [daysBack]='day'
      >
      </app-day>
      <div class='time-travel'>
        <button (click)='travelForward()' *ngIf='latestDay > 0'>
          &rarr;
        </button>
    </div>
  </div>
</div>
