#calendar {
  height: 100%;
}

#calendar * {
  margin: 0 10px 0 10px;
}

#calendar *:first-child {
  margin-left: 0;
}

#calendar *:last-child {
  margin-right: 0;
}

.time-travel {
  width: 2.5vw;
  border: none;
  background-color: lightgray;
}

.day {
  background: lightgray
}

.day-header {
  font-size: 1.25em;
  font-weight: bold;
  background: white;
  width: calc(100% - 4px);
  border: 2px solid red;
}

.day-content {
  text-orientation: upright;
  writing-mode: vertical-lr;
}
