#calendar {
  height: 100%;
}

#calendar * {
  margin: 0;
}

#calendar *:first-child {
  margin-left: 0;
}

#calendar *:last-child {
  margin-right: 0;
}

.time-travel {
  width: 2.5vw;
  border: none;
}

.time-travel button {
  background-color: lightgray;
  border: none;
  width: 100%;
  height: 100%;
}
